/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gulzar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mingzat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Trispace:wght@200;400;800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Archivo", sans-serif;
  @apply min-h-screen h-auto bg-base-300;
}
[data-theme="*"] {
  transition: 1s ease-in-out;
}

.table * {
  border-radius: 0 !important ;
}

.table input {
  @apply py-0 px-1;
}

.table input:focus,
.table select:focus {
  outline: none !important;
}

select {
  appearance: none !important;
}
